<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create</title>
</head>
<body>
  <h1>Share One of Your Stories!</h1>
  <form  action="/posts" method="post">
    <fieldset>
      <label for="title">Title?</label>
      <input type="text" name="title" id="title">
      
      <label for="post">Comment</label>
      <textarea name="post" id="post"></textarea>
      
      <label for="name">Your Name?</label>
      <input type="name" name="name" id="name">
      
      <input class="button-primary" type="submit" value="Post Story">
    </fieldset>
  </form>
  
</body>
</html>